/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #deecf0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation bar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #4b6cb7, #182848); /* Gradient background */
    padding: 5px 10px; /* Better padding */
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar a {
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent hover effect */
    color: #fff;
}

.navbar .nav-right {
    margin-left: auto; /* Ensure the right side items are pushed to the far right */
    margin-right: 20px; /* Add margin to the right side */
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar .nav-left,
.navbar .nav-right {
    display: flex;
    
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .nav-left,
    .navbar .nav-right {
        flex-direction: column;
        width: 100%;
    }

    .navbar a {
        width: 100%;
        text-align: left;
        padding: 10px 15px;
    }
}

/* Add some padding to the top of the page content to avoid overlap with the fixed navbar */
.content {
    padding-top: 40px;
    width: 100%;
    max-width:100%;  /* added */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.container {
    display: flex;
    height: auto;
    width: 100vw; /* Make the container fill the viewport height */
}

#addressContainer {
    flex: 1;
    max-width: 33.33%; /* 1/3 of the page width */
    padding: 15px;
    box-sizing: border-box;
}

#addressInnerContainer {
    box-sizing: border-box;
    border-radius: 10px;
}

.searchBoxContainer {
    background: #ffffffb6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#vehicle-header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

/* Ensure the address-header-wrapper displays its children side by side */
#address-header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row; /* Change to row to display children horizontally */
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Distribute space between items */
    gap: 10px; /* Optional: Add some space between items */
}

/* Style for the middle item to take up maximum space */
.address-header-wrapper .middle-item {
    flex-grow: 1; /* Allow the middle item to take up the remaining space */
}

/* Optional: Style individual elements within the address-header-wrapper */
#address-header-wrapper > * {
    margin: 0 5px; /* Optional: Add some margin around each child */
}

/* Ensure the parent container takes up the full width of the table cell */
.text-input-wrapper {
    width: 100%;
    display: flex;
    align-items: end;
}

.address-input {
    width: 100% !important;
    padding: 5px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    border-color: transparent !important; /* Transparent border color */
    box-sizing: border-box; /* Include padding and border in the element's total height */
    background-color: transparent !important; /* Make the input box transparent when not in focus */
    transition: background-color 0.3s ease  !important; /* Smooth transition for background color */
}

.address-input:focus {
    border-color: #3e8e41  !important; /* Darker green border on focus */
    outline: none  !important; /* Remove default outline */
    box-shadow: 0 0 5px rgba(62, 142, 65, 0.5)  !important; /* Add a shadow on focus */
    background-color: rgb(255, 255, 255)  !important; /* Apply background color when focused */
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease  !important; /* Smooth transition for background color, border color, and box shadow */
}

h1 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: row;
}

.submit-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap; /* Prevent text from wrapping */
}

.submit-button:hover {
    background-color: #0056b3;
}

.modern-table {
    width: 100%;
    table-layout: auto; /* Allow the table to adjust column widths automatically */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    border-radius: 8px; /* Rounded edges for the table */
    overflow: hidden; /* Ensure rounded corners are visible */
}

.modern-table th {
    background-color: #333; /* Dark grey background */
    color: white; /* White text */
    font-weight: bold; /* Bold text */
}

.modern-table th, .modern-table td {
    border: 1px solid #ddd;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    font-size: 14px;
}

.modern-table th:first-child, .modern-table td:first-child {
    width: 100%; /* Make the first column take up the maximum width */
}

.modern-table th:not(:first-child), .modern-table td:not(:first-child) {
    white-space: nowrap; /* Prevent wrapping and use the least width needed */
}

.modern-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modern-table tr:hover {
    background-color: #ddd;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.delete-button:hover {
    background-color: darkred;
}

#route-header-wrapper {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#route-params-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

.check-box-div {
    display: flex;
    gap: 6;
    align-items: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 40%;
    border: 2px solid #007bff;
    margin-right: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #007bff;
    border-radius: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#outerMapContainer {
    flex: 2;
    max-width: 66.67%; /* 2/3 of the page width */
    padding: 15px;
}

#map-container {
    width: 100%;
    height: 100%;
}

/* Basic styles for the tabbed interface */
.tab {
    overflow: hidden;
    border-radius: 8px;
    background-color: #ffffffb6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}


.tab button {
    background-color: #ffffffb6;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #a6c7d6;
}

.tab button.active {
    background-color: #d8e1e6;
}

.tabcontent {
    display: none;
    padding: 6px 6px 6px 6px;
    border-top: none;
    display: inline-block;
    width: auto;
    height: auto;
}

.tabcontent.active {
    display: block;
}


/* Styles for the registration page */


.sign-in-container {
    max-width: 300px;
    width: 100%;
    padding: 30px;
    border-radius: 0px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-in-container#api-key-container {
    max-width: 700px; /* Apply a larger width */
}

.sign-in-container h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.sign-in-container form {
    display: flex;
    flex-direction: column;
}

.sign-in-container form .form-control {
    margin-bottom: 7px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%; /* Make input fields full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.sign-in-container form .btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-in-container form .btn:hover {
    background-color: #0056b3;
}

.sign-in-container form .form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

.text-link {
    margin-top: 15px;
    text-align: center;
}

.text-link a {
    color: #007bff;
    text-decoration: none;
}

.text-link a:hover {
    text-decoration: underline;
}

.errorlist {
    color: red;
    list-style-type: none;
    padding: 0;
    font-size: 12px;
}

.errorlist li {
    margin-bottom: 0px;
}