<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="sign-in-container">
    <h1>Change Password</h1>
    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field }}
            <ul class="errorlist">{{ field.errors }}</ul>
        </div>
        {% endfor %}
        <!-- <label for="old_password">Old Password:</label>
        <input type="password" id="old_password" name="old_password" required>

        <label for="new_password1">New Password:</label>
        <input type="password" id="new_password1" name="new_password1" required>

        <label for="new_password2">Confirm New Password:</label>
        <input type="password" id="new_password2" name="new_password2" required> -->

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
</body>
</html>