<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="sign-in-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="form-group">
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% for field in form %}
            <div class="form-group">
                {{ field }}
                <ul class="errorlist">{{ field.errors }}</ul>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p class="text-link"></p>
            Not a member? <a href="{% url 'register' %}">Signup Now</a>
        </p>
    </div>
</body>
</html>